{% extends "components/base.html" %}
{% use "components/nav.html" %}
{% use "components/go_up_button.html" %}

    {% set body_class = 'grid-container' %}

    {% block title %}
        Admin - Comentarios
    {% endblock %}

    {% block styles %}    
        {{ parent() }}
        <link rel="stylesheet" href="/styles/admin/admin.css" />
        <link rel="stylesheet" href="/styles/components/comment.css" />
    {% endblock %}

    {% block header %}
        {{ parent() }}
         <!--Navigation-->
         {% block navigation %}
            {{ parent() }}
         {% endblock %}
    {% endblock %}

    {% block aside_content %}
        <form class="mttt form">
            <div id="filter">
                <i id="search-icon" class="fa fa-search" aria-hidden="true"></i>
                <input 
                id="input_filter"
                placeholder="Filtre por texto" 
                type="text" 
                />
            </div>
        </form>
    {% endblock %}

    {% block main %}
        <div class="text-center">
            <h1>Panel de administración - Gestión de comentarios</h1>
        </div>
            <div class="container ppp">
                {% for evento in eventsComments %}
                {% if attribute(evento, 2) %}
                    <details class="shadow">
                        <summary>{{ attribute(evento, 1) }}</summary>
                        {% for comentario in attribute(evento, 2) %}
                            <div class="comment">
                                <div class="comment-title">
                                    <img 
                                        class="rounded" 
                                        src="/assets/avatars/avatar.png" 
                                        alt="Avatar"
                                    >
                                    <span class="comment-author">
                                        {{ attribute(comentario, 0) }}
                                    </span>
                                </div>
                                <form action="/update_comment.php" method="POST">
                                    <div class="comment-content">
                                        <span class="comment-date">
                                            {{ attribute(comentario, 1) }}
                                        </span>
                                        
                                        <input 
                                            type="text" 
                                            class="comment-content-info"
                                            name="content"
                                            placeholder="{{ attribute(comentario, 2) }}"
                                            readonly
                                        />
                                        <input 
                                            type="text" 
                                            class="display-none"
                                            name="index"
                                            value={{ attribute(comentario, 3) }}
                                            readonly
                                        />
                                    </div>
                                    
                                    {% if attribute(comentario, 4) == 1 %}
                                    <p class="comment-edited">
                                        Editado por el moderador
                                    </p>
                                    {% endif %}
                                    
                                    <div class="comment-admin prr">
                                        <button
                                            class="btn m p btn-outlined-warning edit-button"
                                            onclick="editComment(event, '{{ loop.index }}')"
                                        >
                                            Editar <i class="fas fa-edit"></i>
                                        </button>
                                    
                                        <button 
                                            class="btn m p display-none btn-outlined-success save-button"
                                        >
                                            Save <i class="fas fa-save"></i>
                                        </button>
                                
                                        <button
                                            class="btn m p btn-outlined-danger delete-button"
                                            onclick="deleteComment(event, '{{ attribute(comentario,3) }}' )"
                                        >
                                            Eliminar <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        {% endfor %}
                    </details>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}

    {% block go_up_button %}
        {% block go_up %}
            {{ parent() }}
        {% endblock %}
    {% endblock %}
    
    {% block scripts %}
    <script type="text/javascript" src="/js/admin/filter-comments.js"></script>
    <script type="text/javascript" src="/js/components/buttons/moderator.js"></script>
    {% endblock %}