{% extends "components/base.html" %}
{% use "components/nav.html" %}
{% use "components/go_up_button.html" %}

    {% set body_class = 'grid-container' %}

    {% block title %}
        Admin - Usuarios
    {% endblock %}

    {% block styles %}    
        {{ parent() }}
        <link rel="stylesheet" href="/styles/admin/admin.css" />
    {% endblock %}

    {% block header %}
        {{ parent() }}
         <!--Navigation-->
         {% block navigation %}
            {{ parent() }}
         {% endblock %}
    {% endblock %}

    {% block aside_content %}
        <form class="mttt form">
            <div id="filter">
                <i id="search-icon" class="fa fa-search" aria-hidden="true"></i>
                <input 
                id="input_filter"
                placeholder="Filtre por texto" 
                type="text" 
                />
            </div>
        </form>
    {% endblock %}

    {% block main %}
        <div class="text-center">
            <h1>Panel de administración - Gestión de usuarios</h1>
        </div>
        
            <ul class="container ppp">
                {% for user in users %}
                    <li class="shadow user mm">
                        <p>
                            <span class="bold">
                                {{ attribute(user, 1) }}
                            </span>
                            - <br>  
                            <select name="rol" class="rol-select" disabled>
                                {% for rol in roles %}
                                    <option value="{{rol}}" {{ (rol == attribute(user,2) )? "selected"}}>{{rol}}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <div class="comment-admin prr">
                            
                            <button
                                class="btn btn-rounded  m p btn-outlined-warning edit-button"
                                class="edit-button"
                                onclick="showUpdate('{{loop.index}}')"
                            >
                                <i class="fas fa-edit"></i>
                            </button>
                        
                            <button 
                                class="btn btn-rounded m p display-none btn-outlined-success save-button"
                                onclick="updateUser('{{ attribute(user, 0) }}', '{{loop.index}}')"
                                class="save-button"
                            >
                                <i class="fas fa-save"></i>
                            </button>
                    
                            <button
                                class="btn  btn-rounded m p btn-outlined-danger delete-button"
                                onclick="deleteUser('{{ attribute(user, 0) }}')"
                            >
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}

    {% block go_up_button %}
        {% block go_up %}
            {{ parent() }}
        {% endblock %}
    {% endblock %}
    
    {% block scripts %}
    <script type="text/javascript" src="/js/admin/filter-users.js"></script>
    <script type="text/javascript" src="/js/admin/edit-users.js"></script>
    <script type="module" src="/js/admin/error-users.js"></script>
    {% endblock %}