{% extends "components/base.html" %}
{% use "components/nav.html" %}
{% use "components/go_up_button.html" %}
{% use "components/event/event_edit.html" %}

    {% set body_class = 'grid-print-container' %}

    {% block title %}
        Editar - {{ evento['title'] }}
    {% endblock %}

    {% block styles %}
        {{ parent() }}
        <link rel="stylesheet" href="/styles/components/event.css" />
        <link rel="stylesheet" href="/styles/components/event_edit.css" />
    {% endblock %}  

    {% block header %}
        {{ parent() }}
        <!--Navigation-->
        {% block navigation %}
            {{ parent() }}
        {% endblock %}
    {% endblock %}

    {% block main %}
        {% block event %}
            {{ parent() }}
        {% endblock %}
    {% endblock %}

    {% block aside %}
    {% endblock %}

    {% block go_up_button %}
        {% block go_up %}
            {{ parent() }}
        {% endblock %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block scripts %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script type="module" src="/js/admin/show-update-error.js"></script>
    <script type="module" src="/js/components/buttons/goTopButton.js"></script>
    {% endblock %}
