{% block event %}
    <div class="mmm  ppppp">
         <!--Title-->
         <div id="title-block" >
            <h2>{{ evento['title'] }}</h2>
        </div>

        <!--Event-->
        <form 
            class="mmm" 
            action="/update_event.php" 
            method="POST"
            enctype="multipart/form-data"
        >
            <input value="{{ evento['id']}}" name="id" type="hidden" />
            <div class="flex-container mbb">
                <label class="flex-25 bold mr">Título: </label>
                
                <input
                    class="flex-75"
                    type="text"
                    name="title"
                    value="{{ evento['title'] }}"
                />
            </div>

            <div class="flex-container mbb">
                <label class="flex-25 bold mr">Publicado: </label>
                <input
                    class="flex-75"
                    type="checkbox"
                    {{ (evento['isPublished'] is same as 1 ) ? "checked" : "" }}
                    name="published"
                />
            </div>

            <div class="flex-container mbb">
                <label class="flex-25 bold mr">Email: </label>
                
                <input
                    class="flex-75"
                    type="text"
                    value="{{ evento['author'] }}"
                    name="author"
                    disabled
                />
            </div>
            
            <div class="flex-container mbb">
                <label class="flex-25 bold mr">Descripción: </label>

                <textarea
                    class="flex-75"
                    name="description"
                >{{ evento['description'] }}</textarea>
            </div>
            
            <div class="flex-container mbb">
                <label class="flex-25 bold mr">Fecha: </label>

                <input 
                    class="flex-75"
                    type="date"
                    name="date"
                    value="{{ evento['date'] }}"
                />
            </div>

            <div class="flex-container mbb">
                <label class="flex-25 bold mr">Lugar: </label>

                <input 
                    class="flex-75"
                    type="text"
                    name="place"
                    value="{{ evento['place'] }}"
                />
            </div>

            <div class="flex-container mbb">
                <label class="flex-25 bold mr">Renovar foto: </label>

                <input 
                    class="flex-75"
                    type="file"
                    name="photo"
                    accept=".jpg,.jpeg,.png"
                />
            </div>

            <div class="flex-container mbb">
                <label class="flex-25 bold mr">Tags: </label>

                <select class="flex-75" name="tag[]" multiple>
                    {% for tagn in allTags %}
                        <option value="{{ attribute(tagn,0) }}" {% if attribute(tagn,1) in tags %} selected {% endif %}>{{ attribute(tagn,1) }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="flex-container mbb">
                <label class="flex-25 bold mr"> Añadir a galería: </label>

                <div class="flex-75">
                    <input 
                        class="flex-75"
                        type="file"
                        name="new_gallery[]"
                        accept=".jpg,.jpeg,.png"
                        multiple
                    />
                </div>
            </div>

            <div class="flex-container mbb">
                <label class="flex-25 bold mr"> Quitar de la galería: </label>

                <select class="flex-75" name="delete_gallery[]" multiple>
                    {% for image in gallery %}
                        <option value="{{ attribute(image,1) }}">{{ attribute(image,0) }}</option>
                    {% endfor %}
                </select>
            </div>
                
            <div class="flex-end mrrr">
                <input 
                    type="submit"
                    class="btn btn-success"
                />
            </div>
        </form>
    </div>
{% endblock %}