{% use "components/event/base_event.html" %}

{% block event %}
    <div class="mmm  ppppp">
        {% block event_title %}
            <div id="title-block" class="flex-container">
                <div class="flex-25 mr-60">
                    {{ parent() }}
                </div>

                <div class="flex-75 tag-container">
                        {% for tag in tags %}
                        <div class="tag shadow">
                            {{ tag }}
                            <div class="triangle-right"></div>
                        </div>
                        {% endfor %}
                </div>
            </div>
                
        {% endblock %}

        {% block action %}
            <a
                href="/evento/imprimir/{{ evento['id'] }}"
                id="print"
            >
                <i class="fa fa-print" aria-hidden="true"></i>
                Imprimir
            </a>
        {% endblock %}

        {% block event_content %}
            {{ parent() }}
        {% endblock %}

        {% block end %}
            <div class="text-center mttt ppppp">
                <button class="btn btn-more btn-block">
                    Ver más
                </button>
            </div>
        {% endblock %}
    </div>
{% endblock %}