.btn {
    border: 0.25em solid transparent;
    border-radius: .25rem;
    white-space: nowrap;
    user-select: none;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    outline: none;

    transition: background-color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn.p {
    padding: 5px; 
}

.btn.m {
    margin: 5px;
}

.btn-transparent {
    background-color: transparent;
}

.btn.btn-p0 {
    padding: 0;
}

.btn-rounded {
    border-radius: 50%;
}

.btn-block {
    width: 100%;
}

/* BTN-INFO */
.btn-info {
    background-color: var(--bootstrap-info);
    color: var(--white);
}

.btn-info:hover{
    background-color: var(--bootstrap-info-hover);
}

.btn-info:focus{
    background-color: var(--bootstrap-info-hover);
    border: solid var(--bootstrap-info) 0.25em;
}

/* BTN-DANGER */
.btn-danger {
    background-color: var(--bootstrap-danger);
    color: var(--white);
}

.btn-danger:hover{
    background-color: var(--bootstrap-danger-hover);
}

.btn-danger:focus{
    background-color: var(--bootstrap-danger-hover);
    border: solid var(--bootstrap-danger) 0.25em;
}

.btn-outlined-danger {
    color: var(--bootstrap-danger);
    background-color: var(--white);
    border: 1px solid var(--bootstrap-danger);
}

.btn-outlined-danger:hover{
    background-color: var(--bootstrap-danger-hover);
    color: var(--white);
}

.btn-outlined-danger:focus{
    background-color: var(--bootstrap-danger-hover);
    border: solid var(--bootstrap-danger) 0.25em;
    color: var(--white);
}

/* BTN-SUCCESS */
.btn-success {
    background-color: var(--bootstrap-success);
    color: var(--white);
}

.btn-success:hover{
    background-color: var(--bootstrap-success-hover);
}

.btn-success:focus{
    background-color: var(--bootstrap-success-hover);
    border: solid var(--bootstrap-success) 0.25em;
}

.btn-outlined-success {
    color: var(--bootstrap-success);
    background-color: var(--white);
    border: 1px solid var(--bootstrap-success);
}

.btn-outlined-success:hover{
    background-color: var(--bootstrap-success-hover);
    color: var(--white);
}

.btn-outlined-success:focus{
    background-color: var(--bootstrap-success-hover);
    border: solid var(--bootstrap-success) 0.25em;
    color: var(--white);
}

/* BTN-MORE */
.btn-more {
    background-color: var(--bootstrap-primary);
    color: var(--white);
}

.btn-more:hover{
    background-color: var(--bootstrap-primary-hover);
}

.btn-more:focus{
    background-color: var(--bootstrap-primary-hover);
    border: solid var(--bootstrap-primary) 0.25em;
}

/* BTN-WARNING */
.btn-warning {
    background-color: var(--bootstrap-warning);
    color: var(--white);
}

.btn-warning:hover{
    background-color: var(--bootstrap-warning-hover);
}

.btn-warning:focus{
    background-color: var(--bootstrap-warning-hover);
    border: solid var(--bootstrap-warning) 0.25em;
}

.btn-outlined-warning {
    color: var(--bootstrap-warning);
    background-color: var(--white);
    border: 1px solid var(--bootstrap-warning);
}

.btn-outlined-warning:hover{
    background-color: var(--bootstrap-warning-hover);
    color: black;
}

.btn-outlined-warning:focus{
    background-color: var(--bootstrap-warning-hover);
    border: solid var(--bootstrap-warning) 0.25em;
    color: black;
}

/* FAB */
.fab-button{
    width: 50px;
    height: 50px;

    position: fixed;
    right: 20px;
    bottom: 40px;
}

.fab-button:hover{
    transform: scale(1.1);
}


/******************************************************************************/
/* Responsive */
/* Responsive */
@media only screen and ( max-width: 650px ){
    .btn-more {
        font-size: 0px;

        border: 1px solid transparent;
        border-radius: 50%;
        padding: 0;
        width: 50px;
        height: 50px;
    }

    .btn-more:after {
        content: "+";
        font-size: 24px;
    }
}