{% block cover_component %}
<!--Cover-->
<div id="cover">
    <div class="quote-container">
        <blockquote>
            Descubre una nueva experiencia
        </blockquote>
    </div>

    <!-- Go down button -->
    <div id="div-button-down" class="animate-infinite-up-down">
        <button 
            id="down-button" 
            title="Ir a la página"
            class="btn go-down-button"
        >
        <i class="fas fa-arrow-down "></i>
        </button>
    </div>
</div>

{% endblock %}