{% block navigation %}
<!--Navigation-->
<nav>
    <ul>
        <li>
            <a href="/">
                <i class="fas fa-home icon"></i>
                Página principal
            </a>
        </li>
        <li>
            <a href="/buscar">
                <i class="fa fa-search"></i>
                Buscar
            </a>
        </li>
        <li>
            <a 
                href="https://www.linkedin.com/in/jesusgonzalezalvarez/"
                target="_blank"
            >
                <i class="fab fa-linkedin-in"></i>
                &nbsp;Acerca del autor
            </a>
        </li>
        <li>
            <a 
                href="/perfil"
            ><i class="fas fa-user"></i> Mi perfil</a>
        </li>
        <li>
            <a 
                href="/logout.php"
            ><i class="fa fa-sign-out-alt" aria-hidden="true"></i> Salir</a>
        </li>
        {% if ( role is not same as("REGISTRADO") ) %}
            <li>
                <a 
                    href="/admin/comentarios"
                ><i class="far fa-comments"></i> Admin- comentarios</a>
            </li>
        {% endif %}
        {% if (role is same as ("SUPER") ) %}
            <li>
                <a 
                    href="/admin/usuarios"
                ><i class="fas fa-users"></i> Admin- usuarios</a>
            </li>
        {% endif %}
        {% if (role is same as ("SUPER") or role is same as ("GESTOR") ) %}
            <li>
                <a 
                    href="/admin/eventos"
                ><i class="fa fa-plus" aria-hidden="true"></i> Admin- eventos</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}