{% block recomendations %}
<div class="pl pr">
    <h2>¡Valora tus últimas rutas para tener una mejor experiencia!</h2>
</div>

<div class="card animate fadeIn card-rate">
    <h3>
        Pino Señora
    </h3>
    <img
        loading="lazy"
        src="/assets/places/pino-señora.jpg"
        alt="`Pino Señora"
    />
    <p>
        <b>Fecha:</b> Ayer
    </p>

    <div class="rating mbbb">
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
    </div>
</div>

<div class="card animate fadeIn card-rate">
    <h3>
        Sierra de la Alfaguara
    </h3>
    <img
        loading="lazy"
        src="/assets/places/sierra-alfaguara.jpg"
        alt="Sierra de la Alfaguara"
    />
    <p>
        <b>Fecha:</b> Hace 15 días
    </p>

    <div class="rating mbbb">
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
    </div>
</div>

<div class="mttt ppp">
    <button class="btn btn-more btn-block">
        Ver más
    </button>
</div>
{% endblock %}