
/* Rating https://css-tricks.com/star-ratings/*/

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

/*
* Set a black star when hovering the rating. To hover every star before the 
* selected one, we use the sibling combinator
*/
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605"; /* Black star*/
    position: absolute;
}

/******************************************************************************/
/* Responsive */
@media only screen and ( max-width: 650px ){
    aside {
        margin: var(--l);
        border-top: solid 5px var(--op-primary);
    }
}