<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="/assets/logo.jpg" />

    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/404.css" />
    <title>¡Upsss!</title>
</head>
<body>
    <div class="fullpage-container centered text-center">
        <h1>¡Upsss! No pudimos encontrar lo que buscas.</h1>
        <h2>Descubre más lugares geniales <a href="/">aquí</a></h2>
        <img alt="404 image" src="/assets/404/404.png" />
    </div>
        
</body>
</html>